﻿@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	min-height: 100%;
}
body {
	font-family: 'Times New Roman', sans-serif !important;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #111;
	margin: 0;
	padding: 0;
}
strong {
	font-family: 'Times New Roman', sans-serif !important;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Times New Roman', sans-serif !important;
	font-weight: normal;
}
a {
	color: #000000;
	text-decoration: none;
}
a:focus {
	outline: none;
}
img, p {
	padding: 0px;
	margin: 0px;
}
.waiter_listing {
	width: 400px;
	height: 100%;
	overflow-y:auto;
	background-color: #f5f5dc;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}
.item_listing {
	/*position:fixed;
	top:0px;
	bottom:0px;
	left:420px;
	right:520px;*/
	height:1080px;
	margin-left:420px;
	margin-right:540px;
	overflow-y:scroll;
	background-color: #f2f2f2;
}
.billing {
	width: 535px;
	height:100%;
	position: fixed;
	right: 0;
	top: 0;
	background-color: #f5f5dc;
	overflow-y:auto;
}
.billing .ordermain {
	width:100%;
	display:inline-block;
	padding:0px 15px;
}
.billing .ordermain .order-item {
	width:100%;
	height:400px;
	display:inline-block;
	overflow:scroll;
	margin-bottom:15px;
}
.billing .ordermain .order-master {
	width:100%;
	height:700px;
	display:inline-block;
	overflow:scroll;
	/*margin-bottom:15px;*/
}
.billing .ordermain .order-item table,
.billing .ordermain .order-master table {
	background:#fff !important;
	border:none;
	border-right:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
}
.billing .ordermain .order-item table th, 
.billing .ordermain .order-item table td, 
.billing .ordermain .order-master table th, 
.billing .ordermain .order-master table td {
	font-size:22px;
	font-weight:normal !important;
	text-align:center;
	border:none;
	border-top:1px solid #e3e3e3;
	border-left:1px solid #e3e3e3;
	padding:8px 8px;
}
.billing .ordermain .order-item table td b, 
.billing .ordermain .order-master table td b {
	font-weight:bold;
}
.billing .ordermain .order-item table td input[type="text"], 
.billing .ordermain .order-master table td input[type="text"] {
	width:100px;
	height:34px;
	border:1px solid #e3e3e3;
	padding:8px 8px;
	margin-right:5px;
}
.billing .ordermain .order-item table td .button_01,
.billing .ordermain .order-master table td .button_01 {
	font-size:18px !important;
	font-weight:normal !important;
	vertical-align:top;
	padding:6px 10px !important;
}
#product_grid {
	list-style-type: none;
	font-size: 1.2em;
	display: inline-block;
	padding-right:15px;
	padding-bottom:15px;
	width: 100%;
	vertical-align: top;
}
#product_grid li {
	display: block;
	float: left;
	width: 132px;
	padding-top: 5px;
	padding-left: 4px;
	text-align: center;
}
#product_grid li img {
	max-width: 80%;
	height:auto;
}
#product_grid li p strong {
	font-size: 16px;
	padding-bottom: 5px;
	display: block;
	letter-spacing: 0;
}
#product_grid li a {
	display: block;
	/*padding: 5px;  color:#0F92FF; */
	min-height: 165px;
}
#product_grid li:nth-child(odd) a {
	background-color: #D9D8C5;
}
#product_grid li:nth-child(even) a {
	background-color: #F6CEE3;
}
#table_grid {
	list-style-type: none;
	width: 100%;
	font-size: 1.2em;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
#table_grid li {
	display: block;
	float: left;
	padding: 1px;
	width: 20%;
	vertical-align: middle;
	text-align: center;
}
#table_grid li a {
	display: block;
	height: 56px;
	line-height: 50px;
	padding: 2px;
	cursor: pointer;
	background: rgba(255,255,255,0.10);
	font-family: 'Times New Roman', sans-serif !important;
	font-weight:bold;
	font-size:22px;
	border: 1px dashed #000;
}
#waiter_grid {
	list-style-type: none;
	width: 100%;
	font-size: 1.2em;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
#waiter_grid li {
	display: block;
	float: left;
	padding: 1px;
	width: 20%;
	vertical-align: middle;
	text-align: center;
}
#waiter_grid li a {
	display: block;
	height: 56px;
	line-height: 50px;
	padding: 2px;
	cursor: pointer;
	background: rgba(255,255,255,0.10);
	font-family: 'Times New Roman', sans-serif !important;
	font-weight:bold;
	font-size:22px;
	border: 1px dashed #000;
}
.waiter_second {
	background: #f5f5dc;
	padding: 15px 15px 0px 15px;
}
.waiter_third {
	background: #f5f5dc;
	padding: 0px 15px 15px 15px;
}
.waiter_third .titleleft {
	font-family: 'Times New Roman', sans-serif !important;
	font-size: 30px;
	font-weight:bold;
	color:blue;
	border:1px solid #000;
	padding:8px;
	margin:0px 5px;
}
.waiter_third .titleleft span {
	color:#000;
	cursor:pointer;
}
.titleleft {
	text-align: center;
	padding-top: 15px;
	font-family: 'Times New Roman', sans-serif !important;
	font-size: 16px;
}
.background_selected {
	background-color: #BEBBBB;
}
.bill_tbl {
	width: 100%;
	border: solid 1px #000;
}
.bill_tbl td {
	padding: 4px 10px;
	border-top: solid 1px rgba(0,0,0,0.50);
	border-right: solid 1px rgba(0,0,0,0.20);
}
.bill_tbl td:nth-child(1) {
	width: 70px;
}
.bill_tbl td:nth-child(2) {
	width: 140px;
}
.bill_tbl td:nth-child(3) {
	width: 60px;
}
.bill_tbl td:nth-child(4) {
	width: 70px;
}
.bill_tbl td:nth-child(4), .bill_tbl td:nth-child(5) {
	text-align: right;
}
.bill_tbl tr:first-child td {
	font-family: 'Times New Roman', sans-serif !important;
	border-top: none;
	border-bottom: solid 1px rgba(0,0,0,1.00);
	background: rgba(0,0,0,0.10);
}
.waiter_first {
	background: #f5f5dc;
	padding: 15px 15px;
}
.waiter_first iframe {
	width:100%;
	border:none;
}
#cust_info {
	background: #83BF17;
	padding: 15px;
}
#cust_info #sec, #cust_info .form-group {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	padding: 2px 0;
}
#cust_info label {
	display: block;
	width: 100px;
	line-height: 25px;
	color: #fff;
	font-family: 'Times New Roman', sans-serif !important;
	float: left;
}
#cust_info input, #cust_info select {
	height: 25px;
	float: left;
	width: 300px;
	padding: 0 5px;
}
.button_01 {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 21px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}
/* ----Loading ST---- */
#overlay {
	height: 100%;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
#loading {
	width: 50px;
	height: 57px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -28px 0 0 -25px;
}
/* ----Loading EN---- */

.logo-block {
	background: #fff;
	border-bottom: 2px solid #4caf50;
	padding: 10px 0px;
}
.logo-block > img {
	display: block;
	width: 70px;
	margin-right: auto;
	margin-left: auto;
}
.logo-block .h-icons {
	width: 100%;
	display: inline-block;
	border-top: 2px solid #4caf50;
	margin-top: 10px;
	padding: 10px 15px 0 15px;
}
.logo-block .h-icons .icon1 {
	float: left;
	width: 60px;
	vertical-align: top;
}
.logo-block .h-icons .icon-center {
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 5px;
}
.logo-block .h-icons .icon2 {
	float: right;
	width: 45px;
	vertical-align: top;
}
.logo-block .h-icons .icon1 img, .logo-block .h-icons .icon2 img {
	max-width: 100%;
}
.selectb {
	color : RED;
}
.selectwt {
	background : RED !important;
}
.hide {
	display: none !important;
}
.billing .menu-links li {
	display: inline-block;
	font-size: 22px;
	list-style: outside none none;
	padding: 10px;
}
.billing .menu-links li a {
	color:#fff;
}
.menu-links {
	text-align: center;
	padding: 0 10px;
	background:#4caf50;
	border-bottom:2px solid #4caf50;
	margin-bottom:15px;
}
.menu-links ul {
	padding:0px;
}
/* calculator */
#box2 {
	position: absolute;
	z-index: 100;
}
#calculator {
	background-color: #f4f4f4;
	width: 190px;
}
#calculator {
	opacity: 0.85;
}
.drag {
	position: relative;
}
.calculatorcontainer {
	border-color: #c0c0c0;
	border-style: solid outset outset solid;
	border-width: 1px 2px 2px 1px;
	padding: 5px;
}
#version {
	float: left;
	font-family: arial;
	font-size: 0.7em;
	padding: 2px 0 0 2px;
}
#calculator #control {
	text-align: right;
}
#calculator input {
	background-color: #fff;
	border: 1px solid #c0c0c0;
	cursor: pointer;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.9em;
	height: 50px;
	margin: 2px;
	width: 50px;
}
#calculator input:hover
{
    background-color: #E768AB;
}
#calculator .operation {
	background-color: #ddd;
	font-weight: bold;
}
.order-item table th, .order-item table td, .order-master table th, .order-master table td {
	font-size: 18px;
}
.order-item .close_icon, .order-item .checkbox {
	display: inline-block;
	vertical-align: middle;
}
.order-item .checkbox input[type=checkbox] {
	display: none;
}
.order-item .checkbox:before {
	/*background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 2px;
	box-shadow: none;
	color: #f3f3f3;
	content: "";
	display: inline-block;
	height: 18px;
	text-align: center;
	vertical-align: middle;
	width: 18px;*/
}
.waiter_listing .item_weight {
	float: left;
	width: 100%;
	background: #f5f5dc;
	padding:0px 15px 15px 15px;
}
.waiter_listing .gm2 {
	float: left;
	width: 25%;
	height: 70px;
	font-size: 30px;
	color: #fff;
	font-weight:bold;
	text-align:center;
	background-color: #4caf50;
	border:4px solid #fff;
	padding: 7px 5px;
}

/*.....checkbox.....*/
.checkbox-group {
    float: right;
    margin: 0;
}
.checkbox-group > label {
    display: block;
}
.checkbox-group .custom-checkbox {
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    top: 2px;
    right: 0px;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.checkbox-group input[type="checkbox"] {
    display: none;
}
.custom-checkbox::before {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 2px;
    box-shadow: none;
    color: #f3f3f3;
    content: "";
    display: inline-block;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    width: 18px;
}
.checkbox-group input[type="checkbox"]:checked + .custom-checkbox::before {
    color: #007fb2;
    content: "✓";
    font-size: 15px;
}
/*...../checkbox.....*/

.billing .ordermain .order-item table.waiterdiv th { text-align:left;}
.billing .ordermain .order-item table.waiterdiv th div.calltables {
	display:inline-block;
	padding:0px 20px;
}
